*{
    font-family: "Poppins", sans-serif;
}

.container{
    display: grid;
    grid-template-columns: repeat(2 , 14% 94%);
}
.container .sidebar{
    background-color:rgb(24, 20, 20) ;
    color: white;
}
.sidebar .side-list li{
    display: flex;
    gap: 20px;
    margin-left: 10px;
    padding: 10px 0;
    align-items: center;
    position: relative;
}
.sidebar .side-list li .rihgt-arrow{
    cursor: pointer;
    position: absolute;
    left: 80%;
   
}
.main-content{
    margin-left: 10px;
    width: 93%;
    background-color: whitesmoke;
    position: relative;
    
}
.main-content header{
    display: flex;
    width: 100%;
    height: 60px;
    align-items: center;
    background-color: rgb(220, 226, 226);
    padding: 7px;
    justify-content: space-around;
}
.main-content header .header-text p{
    display: flex;
    align-items: center;
    margin-left: 9px;
    background-color: aliceblue;
    border-radius: 4px;
    justify-content: center;
    padding: 4px;
    cursor: pointer;
}
.percent svg{
    width: 150px;
    height: 150px;
}
.percent svg circle{
    fill: none;
    stroke-width: 10px;
    stroke: aquamarine;
    stroke-dashoffset:440 ;
    stroke-dasharray:440 ;
    transform: translate(5px ,5px);
}
.percent svg circle:nth-child(1){
    stroke-dashoffset: calc(440 - (440*79) / 100);
    stroke: rgb(29, 192, 148);
}